<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>body fit</title>
    <style>
        .one{
            color: blueviolet;
        }
.two{
    background-color:#158d8d;
}
.card{
    
}

    </style>
</head>
<body class="two">
    <h1 class="one"></h1>
    <div class="container" style="padding: 2px 2px; position: relative;">
        <div class="card" style="  float:left; width:50%; height:70%; padding: 2px 2px;"  >
          <a href="#"><img src="..\static\assets\gentt5.jpg" alt="Avatar" style="width:65%;  height:70%; padding-left:500px; margin:1px;"  ></a>
           <!--- <div class="container" >
           <div style="width:100%; height:100%; text-align:center">
                <img src="http://dummyimage.com/100x50/fc0/000000.png"
                  style="float:middle">
                  <br>
                  Hello World!
               </div>    
          </div> --> 
          </div>
        </div>
</body>
</html>